# Top Travelers

Write a solution to report the distance traveled by each user.

Return the result table ordered by travelled_distance in descending order, if two or more users traveled the same distance, order them by their name in ascending order.

The result format is in the following example.

**Example 1:**
```
Input: 
Users table:
+------+-----------+
| id   | name      |
+------+-----------+
| 1    | Alice     |
| 2    | Bob       |
| 3    | Alex      |
| 4    | Donald    |
| 7    | Lee       |
| 13   | Jonathan  |
| 19   | Elvis     |
+------+-----------+

Rides table:
+------+----------+----------+
| id   | user_id  | distance |
+------+----------+----------+
| 1    | 1        | 120      |
| 2    | 2        | 317      |
| 3    | 3        | 222      |
| 4    | 7        | 100      |
| 5    | 13       | 312      |
| 6    | 19       | 50       |
| 7    | 7        | 120      |
| 8    | 19       | 400      |
| 9    | 7        | 230      |
+------+----------+----------+

Output: 
+----------+--------------------+
| name     | travelled_distance |
+----------+--------------------+
| Elvis    | 450                |
| Lee      | 450                |
| Bob      | 317                |
| Jonathan | 312                |
| Alex     | 222                |
| Alice    | 120                |
| Donald   | 0                  |
+----------+--------------------+
```
Explanation: 
Elvis and Lee traveled 450 miles, Elvis is the top traveler as his name is alphabetically smaller than Lee.
Bob, Jonathan, Alex, and Alice have only one ride and we just order them by the total distances of the ride.
Donald did not have any rides, the distance traveled by him is 0.

Once you have implemented your solution, run the code block containing your `top_travellers` function. Be sure that your function [returns](https://www.geeksforgeeks.org/python-return-statement/) a dataframe, and doesn't simply print.

In [28]:
import pandas as pd


def top_travellers(users, rides):
    return

SELECT u.name , IFNULL(SUM(r.distance) as travelled_distance  
FROM Users u  LEFT JOIN RIDES r
ON u.id = r.user_id
GROUP BY u.id
ORDER BY travelled_distance DESC, u.name;

I couldn't figure out how to left join two tables in a Python function.

## Test Block

**NOTE: Before running the code block below, please be sure that the function you implemented above runs successfully (i.e. a green check-mark appears when running your code)**

Run the following block of code to test your `top_travellers` function. If all cases evaluate to true, your code is functioning correctly!

In [27]:
from tests import test_top

users = pd.read_csv("data/users.csv")
rides = pd.read_csv("data/rides.csv")

output = top_travellers(users, rides)
result1 = test_top.test1(output)

print("Output\n:", output)
print("Test case 1:", result1)

Output
:        name  travelled_distance
5     Elvis                 450
3       Lee                 450
1       Bob                 317
4  Jonathan                 312
2      Alex                 222
0     Alice                 120
Test case 1: False